extends layout

block content
  h1.mb-4 Editar Usuário
  form(action=`/user/update/${user.uid}`, method="POST")
    .mb-3
      label.form-label(for="name") Nome:
      input.form-control(type="text", id="name", name="name", value=user.name, required)
    .mb-3
      label.form-label(for="email") Email:
      input.form-control(type="email", id="email", name="email", value=user.email, required)
    button.btn.btn-primary(type="submit") Atualizar Usuário
