extends layout

block content
  h1.mb-4 Login
  if errorMessage
    .alert.alert-danger= errorMessage
  form(action="/login/login" + globalData.sufix, method="POST")
    .mb-3
      label.form-label(for="email") Email:
      input.form-control(type="email", id="email", name="email", required)
    .mb-3
      label.form-label(for="password") Senha:
      input.form-control(type="password", id="password", name="password", required)
    button.btn.btn-primary(type="submit") Entrar
